<div class="contenedor">
  <p>{{subtitulo}}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">Artista</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cancion of canciones; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ cancion.nombre }}</td>
        <td>{{ cancion.genero }}</td>
        <td>{{ cancion.artista }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="eliminarCancion(cancion.idcancion)">Eliminar</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="irActualizarCancion(cancion)">Actualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
